<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Added logo -->
    <ion-title>
      <img src="assets/logo.svg" id="logo" />
    </ion-title>
    <ion-buttons end>
      <!-- When button is clicked, method showSearch is called -->
      <button ion-button icon-only (click)="showSearch()">
        <!-- Button to add coins -->
        <ion-icon name="add"></ion-icon>
        Add Coins
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div>
</ion-content>
